<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>活动</title>
  <meta chartset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入 Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
  <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/chemer-detail-style.css">
</head>

<body>

  <div class="container pc-show">
    <header>
      <p><a th:href="@{'/index/'+${unit.id}}" th:text="${unit.name}"></a></p>
      <span class="contract-telephone pc-show">联系电话：<span th:text="${unit.tel}"></span></span>
    </header>
  </div>

  <div class="container pc-show">
    <ul class="nav nav-pills">
      <li><a th:href="@{'/index/'+${unit.id}+'/products'}">业务(产品)</a></li>
      <li><a th:href="@{'/index/'+${unit.id}+'/news'}">新闻</a></li>
      <li><a th:href="@{'/index/'+${unit.id}+'/activities'}">活动</a></li>
    </ul>
  </div>

  <div class="header pc-hidden">
    <img class="return" src="/img/icon/left.png" alt="#" onClick="javascript :history.back(-1);return false;">
    <div class="assocTitle">活动</div>
  </div>

  <div class="container section">
    <div class="pc-show detail-link">
      活动
      <hr class="pc-show">
    </div>
    <div class="activity-list ">
      <div class="row text-block activity-item" th:each="activitie:${activities}" th:onclick="|javascript:window.location ='/index/'+${unit.id}+'/activities/'+${activitie.id} |">
        <div class="col-xs-5">
          <img class="img-responsive" th:src="${activitie.img}" alt="">
        </div>
        <div class="col-xs-7 active-info">
          <div class="title" th:text="${activitie.title}"></div>
          <div >活动时间 <span th:text="${activitie.time}"></span></div>
          <div>活动地点 <span th:text="${activitie.address}"></span></div>
          <div>联系人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${activitie.fzr}"></span></div>
          <div>联系电话 <span th:text="${activitie.tel}"></span></div>
        </div>
      </div>
      <hr class="pc-show">

      <hr>
    </div>
  </div>

  <div class="scroll-to-top pc-show"><img src="/img/icon/up.png" alt="" onclick="javascript:scrollTo(0,0);"> </div>

  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="/js/jquery.min.js"></script>
  <!-- 包括所有已编译的插件 -->
  <script src="/js/bootstrap.min.js"></script>
  <script>
  </script>
</body>

</html>