<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>会员单位</title>
  <meta chartset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入 Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
  <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
  <!--[if lt IE 9]>
         <script src="/js/html5shiv.js"></script>
         <script src="/js//respond.min.js"></script>
      <![endif]-->
  <link rel="stylesheet" href="/css2/chemer-detail-style.css">
</head>

<body>
  <div class="container pc-show">
    <header>
      <p><a  th:href="@{'/index/'+${unit.id}}" th:text="${unit.name}">重庆乐汇有限公司</a></p>
      <span class="contract-telephone pc-show">联系电话：<span th:text="${unit.tel}"></span></span>
    </header>
  </div>

  <div class="container pc-show">
    <ul class="nav nav-pills">
      <li><a th:href="@{'/index/'+${unit.id}+'/news'}">新闻</a></li>
      <li><a th:href="@{'/index/'+${unit.id}+'/activities'}">活动</a></li>
      <li><a th:href="@{'/index/'+${unit.id}+'/discovers'}">发现</a></li>
      <li><a th:href="@{'/index/'+${unit.id}+'/units'}">会员单位</a></li>
    </ul>
  </div>

  <div class="header pc-hidden">
    <img class="return" src="/img/icon/left.png" alt="#" onClick="javascript :history.back(-1);return false;">
    <div class="assocTitle">会员单位</div>
  </div>

  <div class="container section">
    <!--<div class="row text-block search pc-hidden">-->
      <!--<img class="searchImg" src="/img/icon/search.png" alt="#">-->
      <!--<input type="text" placeholder="搜索你想要找的会员单位">-->
    <!--</div>-->
    <div class="pc-show detail-link">
      会员单位
      <hr class="pc-show">
    </div>
    <div class="membership-list">
      <div class="row text-block col-lg-4" th:each="uni:${units}"  th:classappend="${uniStat.index%2!=1}?'odd':''" >
        <p th:text="${uni.name}">重庆市仁富消防器材公司</p>
        <p >联系人员：<span th:text="${uni.contacts}"></span></p>
        <p >联系电话：<span th:text="${uni.tel}"></span></p>
        <p >公司地址：<span th:text="${uni.region}"></span></p>
        <p >公司业务：<span th:text="${uni.mark}"></span></p>
      </div>
    </div>
  </div>

  <div class="scroll-to-top pc-show"><img src="/img/icon/up.png" alt="" onclick="javascript:scrollTo(0,0);"></div>

  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="/js/jquery.min.js"></script>
  <!-- 包括所有已编译的插件 -->
  <script src="/js/bootstrap.min.js"></script>
  <script>
      $(".container>img").addClass("img-responsive");
  </script>
</body>

</html>