<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${unit.name}">Title</title>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css2/chember-index-style.css">
    <style>

    </style>
</head>

<body>
<div class="container">
    <header>
        <p><a href="" th:text="${unit.name}" th:href="@{'/index/'+${unit.id}}"></a></p>
        <a th:href="@{'/account/jumpManager'}"><span class="manage" >管理</span></a>
        <span class="contract-telephone pc-show">联系电话：<span th:text="${unit.tel}"></span></span>
    </header>
</div>

<div class="container">
    <ul class="nav nav-pills">
        <li><a href="#introduction">简介</a></li>
        <li><a href="#news">新闻</a></li>
        <li><a href="#activity">活动</a></li>
        <li><a href="#production">发现</a></li>
        <li><a href="#membership">会员单位</a></li>
        <li><a th:href="@{'/index/'+${unit.id}+'/helps'}">帮助</a></li>
        <li><a th:href="@{'/index/'+${unit.id}+'/shares'}">分享</a></li>
        <li><a th:href="@{'/index/'+${unit.id}+'/vips'}">会员收费</a></li>
        <li><a href="#contract">联系方式</a></li>
    </ul>
</div>

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" th:data-slide-to="${lunBoTuStat.index}"  th:classappend="${lunBoTuStat.index==0}?'active':''" th:each="lunBoTu:${lunBoTus}"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">

        <div class="item" th:classappend="${lunBoTuStat.index==0}?'active':''" th:each="lunBoTu:${lunBoTus}">
            <img class="img-responsive" th:src="${lunBoTu.img}" alt="First slide">
            <div class="carousel-caption" th:text="${lunBoTu.title}"></div>
        </div>
    </div>
</div>

<div class="container section introduction">
    <div class="row section-title">
        <a name="introduction"><span>简介</span></a>
    </div>
    <div class="row link-copy">
        <span class="link-text">企业域名:<span th:text="${unit.url}"></span></span>
        <div class="link-btn-group">
            <span id="urlcopy" class="block-button">复制</span>
            <!--<span class="block-button">分享</span>-->
        </div>
    </div>
    <div class="row text-block" th:utext="${brief!=null ?brief.content:''}">
    </div>
    <hr>
</div>



<div class="container section news">
    <div class="row section-title">
        <a name="news"><span>新闻</span></a>
        <a class="more" th:href="@{'/index/'+${unit.id}+'/news'}">更多</a>
    </div>
    <hr>


    <!--<div class="pc-hidden">-->
        <!--<div class="row news-item" th:each="neww:${news}" th:if="${newwStat.index==0}"  th:onclick="|javascript:window.location ='/index/'+${unit.id}+'/news/'+${neww.id} |">-->
            <!--<div class="col-xs-10" >-->
                <!--<div class="row news-title" th:text="${neww.title}"></div>-->
                <!--<div class="row news-info"><span class="news-date" th:text="${neww.createTime}"></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-2"><img class="link-right" src="/img/icon/right.png"   alt=""></div>-->
        <!--</div>-->
        <!--<hr>-->
    <!--</div>-->
    <div class="pc-hidden">
        <div class="row news-item" th:each="neww:${news}"  th:onclick="|javascript:window.location ='/index/'+${unit.id}+'/news/'+${neww.id} |">
            <div class="col-xs-10">
                <div class="row news-title" th:text="${neww.title}"></div>
                <div class="row news-info"><span class="news-date"  th:text="${neww.createTime}"></span>
                </div>
            </div>
            <div class="col-xs-2"><img class="link-right" src="/img/icon/right.png"   alt=""></div>
        </div>
        <hr>
    </div>

    <div class="row pc-show">
        <div class="col-lg-6 main-news" th:each="neww:${news}" th:if="${newwStat.index==0}"  th:onclick="|javascript:window.location ='/index/'+${unit.id}+'/news/'+${neww.id} |">
            <div class="row"><img class="img-responsive" th:src="${neww.img}"  alt=""></div>
            <div class="row" th:text="${neww.title}">2017年云南省知识产权宣传周新闻发布会暨启动仪式</div>
        </div>
        <div class="col-lg-6">
            <ul>
                <li th:each="neww:${news}"
                    th:if="${newwStat.index<7}"><a th:text="${neww.title}"  th:onclick="|javascript:window.location ='/index/'+${unit.id}+'/news/'+${neww.id} |"></a> <span th:text="${neww.createTime}"></span></li>
            </ul>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row section-title">
        <a name="activity"><span>活动</span></a>
        <a class="more" th:href="@{'/index/'+${unit.id}+'/activities'}">更多</a>
    </div>
    <div class="activity-list ">
        <div class="row text-block activity-item" th:each="activitie:${activities}">
            <div class="col-xs-5">
                <img class="img-responsive" th:src="${activitie.img}"  alt="">
            </div>
            <div class="col-xs-7 active-info" th:onclick="|javascript:window.location ='/index/'+${unit.id}+'/activities/'+${activitie.id} |">
                <div class="title" th:text="${activitie.title}"></div>
                <div >活动时间 <span th:text="${activitie.time}"></span></div>
                <div>活动地点 <span th:text="${activitie.address}"></span></div>
                <div>联系人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${activitie.fzr}"></span></div>
                <div>联系电话 <span th:text="${activitie.tel}"></span></div>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row section-title">
        <a name="discover"><span>发现</span></a>
        <a class="more"  th:href="@{'/index/'+${unit.id}+'/discovers'}">更多</a>
    </div>
    <div class="row text-block discover discover-item"
         th:each="discover:${discovers}"  th:if="${discoverStat.index==0}">
        <div class="col-xs-5">
            <img class="img-responsive"th:src="${discover.imgPath}" alt="">
        </div>
        <div class="col-xs-7" >
            <p class="title">项目名称：<span th:text="${discover.name}"></span></p>
            <p>项目介绍：<span th:text="${discover.introduce}"></span></p>
            <p>发起人：<span th:text="${discover.fqrName}"></span></p>
            <p>联系方式：<span th:text="${discover.tel}"></span></p>
            <p>发起时间：<span th:text="${discover.createTime}"></span></p>
        </div>
    </div>
    <hr>
</div>



<div class="container section">
    <div class="row section-title">
        <a name="membership"><span>会员单位</span></a>
        <a class="more" th:href="@{'/index/'+${unit.id}+'/units'}">更多</a>
    </div>
    <div class="membership-list">
        <div class="row text-block col-lg-4" th:each="uni:${units}"  th:if="${uniStat.index<2}">
            <p th:text="${uni.name}">重庆市仁富消防器材公司</p>
            <p >联系人员：<span th:text="${uni.contacts}"></span></p>
            <p >联系电话：<span th:text="${uni.tel}"></span></p>
            <p >公司地址：<span th:text="${uni.region}"></span></p>
            <p >公司业务：<span th:text="${uni.mark}"></span></p>
        </div>
    </div>
    <hr>
</div>




<div class="container section">
    <div class="row section-title">
        <div class="col-lg-6 contract-way">
            <a name="contract"><span class="small-btn">联系方式</span></a>
        </div>
    </div>
    <div class="row text-block">
        <div class="col-lg-6">
            <p><span>负 责 人：</span><span th:text="${contact!=null?contact.name:''}">负 责 人：</span></p>
            <p><span>负责人电话：</span><span th:text="${contact!=null?contact.tel:''}">负责人电话：</span></p>
            <p><span>商协会电话：</span><span th:text="${contact!=null?contact.gsTel:''}">商协会电话：</span></p>
            <p><span>商协会地址：</span><span th:text="${contact!=null?contact.address:''}">商协会地址：</span></p>
        </div>
    </div>
    <hr>
</div>

<div class="container section">
    <div class="row section-title">
        <span>预留信息</span>
    </div>
    <div class="row">
        <div class="personInfo col-lg-6">
            <input type="text" class="infoText" placeholder="姓名" name="name" id="name">
            <input type="text" class="infoText" placeholder="手机" name="tel" id="tel">
            <input type="text" class="infoText" placeholder="事项" name="mark" id="mark">
            <input type="hidden" name="unitId" th:value="${unit.id}" id="unitId">
        </div>
    </div>
    <div class="submitinfo">
        <div class="submit" style="cursor: pointer;" id="submit">提交</div>
    </div>
    <hr>
</div>

<div class="container nav source">
    <div class="row first-header">
        <div class="title">
            <span class="line"></span>
            <span>第三方资源</span>
            <span class="line"></span>
        </div>
    </div>
    <div class="row nav-buttons">
        <div class="col-xs-3">
            <div class="row button"><img src="/img/icon/source_system.png" alt=""></div>
            <div class="row text">乐汇</div>
        </div>
        <div class="col-xs-3">
            <div class="row button"><img src="/img/icon/service_sale.png" alt=""></div>
            <div class="row text">乐服</div>
        </div>
        <div class="col-xs-3">
            <div class="row button"><img src="/img/icon/service_ad.png" alt=""></div>
            <div class="row text">乐告</div>
        </div>
        <div class="col-xs-3">
            <div class="row button"><img src="/img/icon/service_share.png" alt=""></div>
            <div class="row text">宣传</div>
        </div>
    </div>
</div>

<div class="container copyright">
    <div class="row">
        <span>版权所有|重庆乐汇有限公司|重庆市南岸区</span>
    </div>
    <div class="row">
        <span>渝ICP备：01525985号-5</span>
    </div>
</div>
<div class="scroll-to-top pc-show" onclick="javascript:scrollTo(0,0);"><img src="/img/icon/up.png" alt=""></div>

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="/js/jquery.min.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/clipboard.min.js"></script>
<script src="/js/chember_index.js"></script>
</body>
<script>
    // //页面滚动到顶部
    // $('.scroll-to-top').bind('click', function () {
    //     $(window).scrollTop(0);
    // });

 $("#submit").on('click',function () {
     //获取值
     var name = $("#name").val();
     var tel = $("#tel").val();
     var mark = $("#mark").val();
     var unitId = $("#unitId").val();
     console.log(unitId);
     if(name===undefined||name===''||tel===undefined||tel===''||mark===undefined||mark===''||unitId===undefined||unitId===''){
         alert("请填写完整的预留信息 好让我们联系你");
     }else {
         $.ajax({
             url: "/account/saveInfo",
             contentType:'application/json',
             data: JSON.stringify({"name":name,"tel":tel,"mark":mark,"unitId":unitId}),
             type: "POST",
             dataType: "json",
             success: function(data) {
                 alert("预留成功");
                 $("#name").val("");
                 $("#tel").val("");
                 $("#mark").val("");
             }
         });
     }
     });



</script>
</html>